.counter {
    display: flex;
    flex-direction: column;
    width: 208px;
    height: 184px;
    border: 2px solid #8bddf9;
    margin: 0 auto;
    text-align: center;
    padding: 5px;
    border-radius: 10px;
    box-sizing: border-box;
}

.incButton {
    background-color: #8bddf9;
    border-radius: 5px;
    border: none;
    text-transform: uppercase;
    font-weight: bold;
}

.resetButton {
    background-color: #8bddf9;
    border-radius: 5px;
    border: none;
    text-transform: uppercase;
    font-weight: bold;
}

.counterStyle {
    background-color: #8bddf9;
    border-radius: 10px;
    padding: 30px 65px;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 60px;

}

.buttonWrapper {
    padding: 0 22px;
    text-align: center;
    display: inline-flex;
    border: 3px solid #8bddf9;
    align-items: center;
    border-radius: 10px;
    justify-content: space-between;
}

